In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [8]:
# load json as string
string = json.load((open('world_bank_projects_less.json')))

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [11]:
df = pd.read_json('world_bank_projects.json')
df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [19]:
df.mjtheme_namecode.value_counts().head(10)
# df.themecode.value_counts().head(10)

[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': 'Environment and natural resources management'}]                                                                                12
[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]                                                                                                                                                        11
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]                                                                                                                                         8
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '4', 'name': 'Financial and private sector development'}]                                                                                           6
[{'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}]                                                                        6
[{'code': '8', 'name': 'Human development'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]                                                                                                                               5
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]     5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': ''}]                                                                                                                             5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '4', 'name': ''}]                                                                                                                              5
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '5', 'name': 'Trade and integration'}]                                                                                                              5
Name: mjtheme_namecode, dtype: int64

In [25]:
lis = df['mjtheme_namecode'].apply(pd.Series).stack().tolist()
df_norm = json_normalize(lis)

In [29]:
df_norm = df_norm.sort_values('name').drop_duplicates(subset='code',keep='last')

In [33]:
lis = df['theme_namecode'].apply(pd.Series).stack().tolist()
df_norm1 = json_normalize(lis)
df_norm1 = df_norm1.sort_values('name').drop_duplicates(subset='code',keep='last')
df_norm1

     code                                               name
454    31                          Access to law and justice
521    25            Administrative and civil service reform
1344   80                                       Biodiversity
557    63                                       Child health
629    81                                     Climate change
85     58  Conflict prevention and post-conflict reconstr...
742    38                               Corporate governance
443    21          Debt management and fiscal sustainability
438    26                                   Decentralization
967    22      Economic statistics, modeling and forecasting
814    65                                  Education for all
725    66                Education for the knowledge economy
1334   82            Environmental policies and institutions
213    45             Export development and competitiveness
994    59                                             Gender
19     91                        Global food crisis response
633    88                                           HIV/AIDS
270    67                          Health system performance
735    51                            Improving labor markets
1193   60                                 Indigenous peoples
381    39  Infrastructure services for private sector dev...
278    89             Injuries and non-communicable diseases
183    42      International financial standards and systems
1112   32   Judicial and other dispute resolution mechanisms
922    83                 Land administration and management
320    34            Legal institutions for a market economy
455    35                                     Legal services
1131   23                           Macroeconomic management
646    92                                            Malaria
1092   41         Micro, Small and Medium Enterprise support
...   ...                                                ...
829    24                          Other economic management
1361   86  Other environment and natural resources manage...
368    70                            Other human development
934    30                     Other public sector governance
607    79                            Other rural development
1364   62                           Other social development
499    56        Other social protection and risk management
671    74                            Other urban development
1238   57                 Participation and civic engagement
1182   36                       Personal and property rights
574    84      Pollution management and environmental health
1199   69                 Population and reproductive health
828    53          Poverty strategy, analysis and monitoring
158    27  Public expenditure, financial management and p...
907    47                               Regional integration
175    40                  Regulation and competition policy
996    75                                      Rural markets
426    76                   Rural non-farm income generation
225    77                    Rural policies and institutions
20     78                  Rural services and infrastructure
498    87                             Social risk mitigation
651    54                                 Social safety nets
1189   43  State-owned enterprise restructuring and priva...
1096   28                      Tax policy and administration
596    48                               Technology diffusion
335    49               Trade facilitation and market access
562    93                                       Tuberculosis
369    71            Urban services and housing for the poor
92     55            Vulnerability assessment and monitoring
957    85                          Water resource management

[66 rows x 2 columns]

In [34]:
df_norm1.code.unique()

array(['31', '25', '80', '63', '81', '58', '38', '21', '26', '22', '65',
       '66', '82', '45', '59', '91', '88', '67', '51', '60', '39', '89',
       '42', '32', '83', '34', '35', '23', '92', '41', '72', '73', '52',
       '68', '29', '64', '24', '86', '70', '30', '79', '62', '56', '74',
       '57', '36', '84', '69', '53', '27', '47', '40', '75', '76', '77',
       '78', '87', '54', '43', '28', '48', '49', '93', '71', '55', '85'],
      dtype=object)

In [32]:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [ ]:
d

In [30]:
df_norm

     code                                          name
204     1                           Economic management
1180   11  Environment and natural resources management
1276    4      Financial and private sector development
41      8                             Human development
132     2                      Public sector governance
1302    3                                   Rule of law
986    10                             Rural development
1323    7                   Social dev/gender/inclusion
214     6         Social protection and risk management
1372    5                         Trade and integration
930     9                             Urban development